.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table, tr, th, td {
    table-layout: fixed;
    border: 3px solid black;
    border-collapse: separate;
}

table {
    border-spacing: 3px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

th {
    background-color: darkblue;
    color: white;
}

.b {
    padding: 2px 15px;
    border-radius: 10px;
}

.b:active {
    transform: scale(0.98);
}

.b:hover {
    background-color: darkblue;
    color: white;
}



.wider-column {
    width: 40%; /* Adjust the width as needed */
}

.wider-input {
    width: 98.1%; /* Adjust the input field width as needed */
}

